@model DSLNG.PEAR.Services.Responses.Highlight.GetHighlightResponse

<table class="der-table" style="min-height: 47px">
    <tr>
        <td class="der-bg-blue-1">Alert Condition</td>
    </tr>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <tr>
            <td rowspan="2" class="der-bg-green-1">
                <img src="@Url.Content("~/content/img/select/" + Model.Message)" height="50" width="50"/></td>
        </tr>
    }
</table>

