@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table table-bordered global-stock">
    <thead>
        <tr>
            <td rowspan="2">Global Stock Market</td>
            <td colspan="3">Forecasted Market Indicator</td>
        </tr>
        <tr>
            <td>USD/JPY</td>
            <td>BRENT FUT</td>
            <td style="width:30%">USD/IDR</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>JKSE: 4,846.70</td>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>1M:107.94</td>
            <td>Q2-16:39.00 USD/bbl</td>
            <td><span class="comparison left-side"><i class="fa fa-minus"></i></span>1 Month:13,198</td>
        </tr>
        <tr>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>&gt;DJIA: 17,576.96</td>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>3M:107.72</td>
            <td>Q3-16:41.60 USD/bbl</td>
            <td><span class="comparison left-side"><i class="fa fa-minus"></i></span>3 Month:13,345</td>
        </tr>
        <tr>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>Nikkei 225: 15,821.52</td>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>6M:107.35</td>
            <td>Avg-2016:40.00 USD/bbl</td>
            <td><span class="comparison left-side"><i class="fa fa-minus"></i></span>6 Month:13,555</td>
        </tr>
        <tr>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>Shanghai SEC: 2,985.76</td>
            <td><span class="comparison absolute"><i class="fa fa-minus"></i></span>1Yr:106.47</td>
            <td>Avg-2017:54.60 USD/bbl</td>
            <td><span class="comparison left-side"><i class="fa fa-minus"></i></span>1 Year:14,015</td>
        </tr>
    </tbody>
</table>