@model DSLNG.PEAR.Services.Responses.Highlight.GetHighlightResponse


<table class="der-table" style="text-align: center">
    <tr>
        <th colspan="6" class="der-title-underline" style="width: 50%">@Model.Title</th>
    </tr>
    <tr style="font-weight: bold">
        <td colspan="6" rowspan="3" style="font-weight: normal; text-align: left; border-left: solid 1px black">@Model.Message</td>
    </tr>
</table>

