@model DSLNG.PEAR.Services.Responses.Highlight.GetHighlightResponse

@*<h5 style='margin-top:40px; text-decoration: underline;'>@Model.Title</h5>*@
@Html.Raw(Model.Message)
@*<table class="der-table der-daily-highlight" style="text-align: center">
    <tr>
        <th colspan="6" class="der-title-underline" style="width: 50%">@Model.Title</th>
    </tr>
    <tr style="font-weight: bold">
        <td colspan="6" rowspan="3" style="font-weight: normal; text-align: left; border-left: solid 1px black">@Html.Raw(Model.Message)</td>
    </tr>
</table>*@

