@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table table-bordered indicative">
    <thead>
    <tr>
        <td colspan="3" style="font-size:12px;padding:10px; ">
            DSLNG Indicative Commercial Price (JCC based)-USD/MMbtu
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 34%">
            Feed Gas (GSA)
        </td>
        <td>
            JOB @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, string.Empty, string.Empty)
        </td>
        <td style="width: 34%;background: #a6a6a6">
            
        </td>
    </tr>
    <tr>
        <td>
            Feed Gas (GSA)
        </td>
        <td>
            FOB @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, string.Empty, string.Empty)
        </td>
        <td>
            DES @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, string.Empty, string.Empty)
        </td>
    </tr>
    </tbody>
</table>