@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayJobPmtsViewModel
<table class="der-table all-border">
    <thead>
        <tr>
            <th colspan="6" class="der-bg-purple">JOB PMTS</th>
        </tr>
        <tr>
            <th colspan="2" class="der-bg-blue-4">ACTUAL 24H</th>
            <th colspan="2" class="der-bg-blue-4">ACTUAL MTD</th>
            <th colspan="2" class="der-bg-blue-4">ACTUAL YTD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>333.68 mmscf</td>
            <td rowspan="2">7,303.05 tonnes</td>
            <td>7,058.64 mmscf</td>
            <td rowspan="2">154,468.63 tonnes</td>
            <td>7,058.64 mmscf</td>
            <td rowspan="2">154,468.63 tonnes</td>
        </tr>
        <tr>
            <td>373,265 mmbtu</td>
            <td>7,894,592 mmbtu</td>
            <td>7,894,592 mmbtu</td>
        </tr>
        <tr>
            <td colspan="2">134% of DCQ 277,750 mmbtu</td>
            <td colspan="2">92% of MGN 8,610 bbtu</td>
            <td colspan="2">8% of ADP 101.6 TBtu</td>
        </tr>
    </tbody>
</table>
