@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

<table style="border: 1px solid #ffffff">
    <tr>
        @{
            var a = 0;
            for (int i = 1; i <= 6; i++)
            {

                var posIndex = Model.KpiInformations.FirstOrDefault(x => x.Position == i);
                if (posIndex != null)
                {
            <td>
                @Html.DropDownListFor(model => model.KpiInformations[i - 1].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
                @Html.HiddenFor(model => model.KpiInformations[i - 1].Position)
                <input type="hidden" name="KpiInformations.Index" value="@a" />
            </td>
                }
                a++;
            }
        }
    </tr>
</table>


