@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

<table>
    <tr>
        <td>@Html.DropDownListFor(model => model.Pie.Series[i].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })</td>
    </tr>
</table>


