@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

<table class="der-table all-border" style="text-align: center">
    <thead>
        <tr>
            <th style="background-color: rgb(183,222,232)">KPI</th>
            <th style="background-color: rgb(184,204,228)">ACT 24H</th>
            <th style="background-color: rgb(184,204,228)">MTD</th>
            <th style="background-color: rgb(184,204,228)">YTD</th>
            <th style="background-color: rgb(184,204,228)">Annual-Target</th>
            <th style="background-color: rgb(184,204,228)">ITD</th>
        </tr>
    </thead>
    <tbody>
        @{
            var a = 0;
            for (int i = 1; i <= Model.KpiInformations.Count; i++)
            {
            <tr>
                <td style="text-align: left">
                    @Html.DropDownListFor(model => model.KpiInformations[i - 1].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
                    @Html.HiddenFor(model => model.KpiInformations[i - 1].Position)
                    <input type="hidden" name="KpiInformations.Index" value="@a" />
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="text-align: right">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
                a++;
            }
        }
    </tbody>
</table>


