<style>
    .nav-tabs > li > a {
        color: #ffffff;
    }

    .nav-tabs > li:active > a {
        color: #000000;
    }
</style>
<section>
    <div class="row">
        <div class="title_page" style="border: none!important;">
            <div class="row">
                <div class="title">Der Input</div>
            </div>
        </div>
        <div class="notification"></div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a href="#download" aria-controls="home" role="tab" data-toggle="tab" data-tabtype="download">
                <div>Download</div>
            </a>
        </li>
        <li role="presentation">
            <a href="#upload" aria-controls="home" role="tab" data-toggle="tab" data-tabtype="upload">
                <div>Upload</div>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="download" class="tab-pane fade in active">
                <h3>The Title</h3>
                <p>Download Link</p>
              </div>
              <div id="upload" class="tab-pane fade">
                <h3>The Next Title</h3>
                <p>Upload</p>
              </div>
    </div>
</section>
