<style>
    .nav-tabs > li > a {
        color: #ffffff;
    }

    .nav-tabs > li:active > a {
        color: #000000;
    }
</style>
<section>
    <div class="row">
        <div class="title_page" style="border: none!important;">
            <div class="row">
                <div class="title">Der Input</div>
            </div>
        </div>
        <div class="notification"></div>
    </div>
    <div class="row der-display">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group form-list">
                    <font color="#FFFFFF">Date : </font>
                    <input id="currentDate" class="form-control datepicker" type="text">
                    <span class="field-validation-valid" data-valmsg-for="StartInDisplay" data-valmsg-replace="true"></span>
                </div>
            </form>
        </div>
    </div>
    <hr />

    <div class="row economic-indicators" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Economic Indicator Section-B</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-content-url="@Url.Action("EconomicIndicator",new { date="__date__" })" data-toggle="collapse" href="#collapseEconomic" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseEconomic" style="margin-top: 15px; margin-bottom: 15px;">
            </div>
        </div>
    </div>

    <div class="row forecasted" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse"  href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Forecasted Market Indicator-B</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("ForcastedIndicator",new { date="__date__" })" href="#collapseForecasted" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseForecasted" style="margin-top: 15px; margin-bottom: 15px;">
            </div>
        </div>
    </div>

    <div class="row operation" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Operation & Engineering Section-J</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("OperationSection",new { date="__date__" })" href="#collapseOperation" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseOperation" style="margin-top: 15px; margin-bottom: 15px;">
            </div>
        </div>
    </div>

    <div class="row marine" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Marine, Shipping, Cargo Delivery section-C</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-toggle="collapse" href="#collapseMarine" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseMarine" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">Next Loading Schedule</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">Vessel (capacity)</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select>
                                            <option>Select Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">ETA</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">ETD</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="" placeholder="text date" required />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">Cargo#</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                                <tr>
                                    <td><label class="control-label">Remarks</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="" placeholder="free text" required />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-3">
                        <label class="control-label">Loading Duration</label>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Standard</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Last</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">AVG YTD</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Ttl Terminal Time</label>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Standard</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Last</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">AVG YTD</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hh:mm" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><label class="control-label">Marine, Shipping, Cargo Delivery Highlight</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row maintanance" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Maintenance section-D</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-toggle="collapse" href="#collapseMaintanance" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseMaintanance" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Weekly Maintenance Backlog</label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">as of</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">PM</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hrs" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">CM</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="hrs" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">remark-target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="text" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">remarks</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="text" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Weekly Critical-Tier 1 PM Compliance/overdue</label></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">as of</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Rlv Valve</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">SIF</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Other</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Remark</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="col-md-12">
                    <p style="color: white;">Key Equipment Status</p>
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Feed Inlet Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">C3 Compr</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">LP-MR Compr</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">HP-MR Compr</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">MCHE</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">EDG-A</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">EDG-B</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">EDG-C</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">GTG-A</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">GTG-B</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">GTG-C</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Hot Oil Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Fuel Gas syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Water Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Air Compr A</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Air Compr B</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Air Compr C</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="col-md-12">
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">N2 Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Fire Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">LNG Tank</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">BOG Compr</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">LNG Jetty</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">C2/C3 strg tank</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">CDS tank</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Diesel Oil tank</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Flare Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Waste Syst</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><label class="control-label">Maintenance Highlight & Immediate Concern:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row qhsse" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">QHSSE Section-I</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn btn-input-slide" role="button" data-toggle="collapse" href="#collapseQhsse" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseQhsse" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Last DAFWC</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Last Plant LOPC (Tier-1 &2)</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <p style="color: white;">Safe Man-hours Since last DAFWC</p>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">as of</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="date" class="form-control" id="text" placeholder="text date" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">safe man hours</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Weather</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Tide/Wave</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Wind Direct</label></td>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Wind Speed</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="km/h" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p style="color: white;">Weekly Alarm Management System</p>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Period</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="free text" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Process Train</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Utilities-off site</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Remark</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="text" class="form-control" id="text" placeholder="free text" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-4">
                        <p style="color: white;">Personnel Injury Related 24H</p>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Fatality 24H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">DAFWC 24H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">RWC 24 H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">MTC 24 H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">FAC 24H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">NM 24H</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p style="color: white;">Personnel Injury Related-Annual Target</p>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Fatality target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">DAFWC target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">RWC target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">MTC target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">FAC target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">NM target</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <p style="color: white;">Security Incident Type (24H)</p>
                        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                            <tr>
                                <td><label class="control-label">Mass Gathering</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Road Blockade</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Theft/Criminal</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Violence</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Prop Dest/Vandalism</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Others</label></td>
                                <td>
                                    <span class="col-sm-8">
                                        <input type="number" class="form-control" id="text" placeholder="number" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><label class="control-label">Alert Condition</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><label class="control-label">QHSE & PSM Remark</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><label class="control-label">Security Remark</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row others">
        <div class="col-md-12">
            <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                <h3 style="margin-left: -16px;">Enabler Section</h3>
            </a>
            <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                <a class="btn" role="button" data-toggle="collapse" href="#collapseOthers" aria-expanded="false" aria-controls="collapseExample">
                    +
                </a>
            </span>
            <div class="collapse" id="collapseOthers" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
                            <tr>
                                <td>
                                    <h4 style="margin-top: 20px;">Procurement Section-E</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">#backlog</label>
                                    <br />
                                    <input type="number" name="" id="" placeholder="number" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Avg backlog</label>
                                    <br />
                                    <input type="number" name="" id="" placeholder="number" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Remark</label>
                                    <br />
                                    <input type="text" name="" id="" placeholder="free text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
                            <tr>
                                <td>
                                    <h4 for="" style="margin-top: 20px;">ICT Infrastructure and System Highlight:-F</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Application</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Colaboration</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Telco</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Remark</label>
                                    <br />
                                    <input type="text" name="" id="" placeholder="free text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
                            <tr>
                                <td>
                                    <h4 for="" style="margin-top: 20px;">GS & FM-G</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">POB</label>
                                    <br />
                                    <input type="number" placeholder="number" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">F&B</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Camp</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Transp</label>
                                    <br />
                                    <select>
                                        <option>Select Option</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="" style="margin-top: 20px;">Remark</label>
                                    <br />
                                    <input type="text" name="" id="" placeholder="free text" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div class="col-md-6">
                        <h4 style="color: white;">Community Relation and Govt Engagement Highlight-H</h4>
                        <table border="0">
                            <tr>
                                <td><label class="control-label">Remark</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table border="0">
                            <tr>
                                <td><h4 class="control-label">Daily Highlight-K</h4></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea class="form-control allow-html"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="col-md-12" style="margin-bottom: 30px;">
        <div class="col-md-3">
            <table width="900" border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>
                        <label for="">Prepared By-L</label>
                        <br />
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <table width="900" border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>
                        <label for="">Reviewed By-M</label>
                        <br />
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" style="margin-top: 15px;">
            <a href="#" class="btn btn-master-rgw btn-primary"><i class="fa fa-check-circle"></i> Save</a>
            <a href="#" class="btn btn-master-rgw btn-primary"><i class="fa fa-search"></i> Check</a>
            <a href="#" class="btn btn-master-rgw btn-primary"><i class="fa fa-file-archive-o"></i> DER Preview</a>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/Content/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('.usdxdr').change(function (e) {

        //});
        function reloadView() {
            var currentDate = $('#currentDate').val();
            $('.layout-item').each(function () {
                var that = $(this);
                $.ajax({
                    url: that.attr('data-url'),
                    data: { currentDate: currentDate },
                    success: function (data) {

                        if (data.GraphicType !== undefined) {
                            var callback = window.Pear.Artifact.Designer._previewCallbacks;
                            callback[data.GraphicType](data, that);
                        }
                        else if (data.type === "highlight") {
                            var aneh = data.view.replace(/\"/g, "");
                            console.log(aneh);
                            that.html(aneh);
                        } else if (data.type === "highlight" || data.type === "weather" ||
                            data.type === "alert" || data.type === "avg-ytd-key-statistic" || data.type === "safety" ||
                        data.type === "security" || data.type === "lng-and-cds" || data.type === "dafwc" || data.type === "job-pmts" || data.type == "total-feed-gas"
                        || data.type === "weekly-maintenance" || data.type === "critical-pm" || data.type == "procurement" || data.type == "indicative-commercial-price" ||
                            data.type === "plant-availability" || data.type === "economic-indicator" || data.type === "mgdp" || data.type === "hhv" || data.type === "lng-and-cds-production"
                            || data.type === "nls" || data.type === "key-equipment-status") {
                            that.html(data.view);
                        }
                        /*else if (data.type === "weather" || data.type === "alert" || data.type === "avg-ytd-key-statistic" || data.type === "safety" ||
                        data.type === "security" || data.type === "lng-and-cds" || data.type === "dafwc" || data.type === "job-pmts" || data.type == "total-feed-gas"
                        || data.type === "weekly-maintenance" || data.type === "critical-pm" || data.type === 'mgdp') {
                            that.html(data.view);
                        }*/

                    }
                });
            });
        }

        $('#currentDate').val('02/18/2016');
        reloadView();
        if ($('.der-display').length) {
            $('.datepicker').datetimepicker({
                format: "MM/DD/YYYY",
                focusOnShow: false
            }).on('dp.change', function (e) {
                $("#currentDate").blur();
                reloadView();
            });
        };
    });

    function moveFieldTo(event, fieldId) {
        var inputid = $(event.target).attr("id");
        if (event.keyCode == 13) {
            $(inputid).removeClass("der-text-yesterday");
            document.getElementById(inputid).className = "form-control";
            document.getElementById(fieldId).focus();
            event.preventDefault();
            return true;
        }
    }
</script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {



            tinyMCE.init({
                selector: ".allow-html",
                menubar: false,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });

            $('.collapse').on('hide.bs.collapse', function () {
                var tombol = $(this).attr("id");
                tombol = $("a[href='#" + tombol + "']").text("+");
            });

            $('.collapse').on('show.bs.collapse', function () {
                var tombol = $(this).attr("id");
                tombol = $("a[href='#" + tombol + "']").text("-");
            });

            $('.btn-input-slide').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var target = $this.attr('href');
                if (!$(target).children().length) {
                    var contentUrl = $this.data('content-url');
                    contentUrl = contentUrl.replace('__date__', encodeURIComponent( $('#currentDate').val()));
                    $.get(contentUrl, function (data) {
                        $(target).html(data);
                        tinyMCE.init({
                            selector: ".allow-html",
                            menubar: false,
                            plugins: [
                                "advlist autolink lists link image charmap print preview anchor",
                                "searchreplace visualblocks code fullscreen",
                                "insertdatetime media table contextmenu paste"
                            ],
                            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
                        });
                    })
                }
            });

        });


    </script>
}