
@{
    ViewBag.Title = "Index";
}
<section>
    <div class="row">
        <div class="col-sm-12">
            <h2>MIR Configuration</h2>
             <div class="qhe-securities">
                <h4>QHSE Securites</h4>
            </div>
        </div>
    </div>
   
</section>

