@model DSLNG.PEAR.Web.ViewModels.PlanningBlueprint.EnvironmentsScanningViewModel

@{
    ViewBag.Title = "EnvironmentsScanning";
}

<div class="col-md-12">
    <div class="title">Environments Scanning</div>
</div>
