@model DSLNG.PEAR.Web.ViewModels.PlanningBlueprint.EconomicIndicatorsViewModel

@{
    Layout = null;
}

@{
    var count = Model.OutputCategories.Count;
    for(var i =0; i<count; i+=2){
    <div class="row indicator-group">
        @for (var j = i; j < i + 2; j++) {
            if (j < count) { 
                <div class="col-md-6">
                    <h6 style="float:none">@Model.OutputCategories[j].Name</h6>
                    <ul>
                        @foreach(var keyOutput in Model.OutputCategories[j].KeyOutputs){
                            <li data-id="@keyOutput.Id"><input name="checkthis" type="checkbox" value="@keyOutput.Id" />@keyOutput.Name</li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
    }
}


