@model DSLNG.PEAR.Web.ViewModels.Calculator.CalculatorIndexViewModel
@section Scripts {
}
<div class="col-md-3">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#productionYield" data-toggle="tab">Production Yield</a></li>
        <li><a href="#pricing" data-toggle="tab" class="vertical-tab">Pricing</a></li>
        <li><a href="#plantAvailibility" data-toggle="tab">Plant Availibility</a></li>
        <li><a href="#standardConversion" data-toggle="tab">Standard Conversion</a></li>
    </ul>
</div>

<div class="col-md-9">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="productionYield">
            @Html.Partial("_ProductionYield",Model.ProductionYield)
        </div>
        <div class="tab-pane" id="pricing">Pricing Tab.</div>
        <div class="tab-pane" id="plantAvailibility">Plant Avail</div>
        <div class="tab-pane" id="standardConversion">Standard Conversion</div>
        <!-- Tab panes -->
        
    </div>
</div>
