@model DSLNG.PEAR.Web.ViewModels.Der.GenerateViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DER Preview</title>

    <!-- Latest compiled and minified CSS -->
    @Styles.Render("~/Content/der_preview")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            height: auto;
            width: 1532px;
        }

        .table.hhv tbody tr:first-child td {
            height: 31px;
        }

        .table.hhv .special-height {
            height: 12px;
        }

        .table.alert-condition tbody tr td {
            height: 31px;
        }
        /*.table.alert-condition {
            border-left:1px solid #444;
        }*/
        .impurities {
            height: 150px;
        }

        .table.security-incident {
            border: 1px solid #444;
            border-top: none;
            border-bottom: none;
        }

        .table.plant-availability {
            border: 1px solid #444;
            border-right: none;
        }

            .table.alert-condition tbody tr td,
            .table.security-incident tbody tr td,
            .table.hhv tbody tr td,
            .table.hhv thead tr td,
            .table.plant-availability thead tr td,
            .table.plant-availability tbody tr td:first-child,
            .table.lng-loaded tbody tr td,
            .table.cds-loaded tbody tr td,
            .table.tank-table tbody tr td,
            .table.weekly-maintenance tbody tr td,
            .table.weekly-critical tbody tr td,
            .table.key-equipment tbody tr td,
             .table.procurement tbody tr td,
            .table.indicative tbody tr td
            
             {
                position: initial;
            }

        .table.procurement tbody tr:first-child td {
            height:21px;
        }
        .table.indicative thead tr td {
            padding:13px !important;
        }
    </style>
</head>
<body>
    @Html.Raw(Model.Content)
</body>
</html>